.Header{
    display: flex;
    max-width: 1080px;
    justify-content: space-between;
    padding: 10px;
    margin: auto;

}
.menu > a{
    margin: auto 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.h1{
    font-family: 'indie flower', cursive;
}
